*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    object-fit: cover;
}
a{
    color: white;
    cursor: pointer;
}
body{
    overflow-x: hidden;
    /* margin: auto; */
}
.head{
    background: url(home-cover.webp);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    /* background-repeat: no-repeat; */
    height: 100vh;
}
nav{
    display: flex;
    justify-content: space-between;
    padding:30px 70px;
    align-items: center;
    /* position: fixed; */
    /* background-color: transparent; */
}
nav ul{
    display: flex;   
    gap: 50px;
}

.logo{
    padding: 10px;   
}
.logo h1{
    font-size: 40px;
}
.list ul img{
    /* opacity: 1; */
    /* border: 2px solid black; */
    background-color: none;
    margin-top: -5px;
    cursor: pointer;
    width: 30px;
    /* height: 50px; */
}
.hero h1{
    padding-top: 10vw;
    font-size: 66px;
    text-align: center;
    color: white;
    font-family: century gothic medium;
}
.section1{
    height: 80vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* place-items: center; */
    gap: 140px;
    padding-top: 10vw;
}
.pic img{
    /* padding-top: 30px; */
    border-top-right-radius: 100vw;
    width: 100%;
    border-bottom-right-radius:100vw;
}
.organic h2{
    padding-top: 4.3vw;
    font-size: 33px;
    font-family: century gothic medium;
}
.organic p{
    font-family: century gothic;
    padding-bottom: 18px;
    color: grey;
}
.btn{
    background: rgba(192, 226, 238, 0.548);
    color: rgba(0, 0, 255, 0.603);
    padding: 23px 37px;
    border: none;
    border-radius: 39px;
    /* font-family: century gothic; */
    font-size: 19px;
    transition: 0.6s ease;
}
.btn:hover{
    background: rgba(0, 0, 255, 0.603);
    color: white;
}

.section1-2{
    margin-bottom: 19px;
}
.pix{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-left: 30px;
    /* text-align: center; */
}
.section1-2 h1{
    font-family: century gothic medium;
    text-align: center;
    padding-bottom: 45px;
}
.first img{
    width: 85%;
    border-radius: 40px;
}
.first{
    /* display: flex; */
    text-align: center;
}
.first h2{
    padding-top: 10px;
    font-size: 20px;
    font-family: century gothic medium;
    /* font-weight: light; */
}
.section2{
    height: 80vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 10vw;
    margin-top: 110px;
    
}
.extra h2{
    padding-top: 4.3vw;
    font-size: 33px;
    font-family: century gothic medium;
}
.extra p{
    font-family: century gothic;
    padding-bottom: 28px;
    color: grey;
}
.pic1 img{
    width: 100%;
    border-top-left-radius: 100vw;
    border-bottom-left-radius:100vw;
}
.btn1{
    background: rgba(0, 0, 255, 0.603);
    color: white;
    padding: 21px 37px;
    border: none;
    border-radius: 39px;
    /* font-family: century gothic; */
    font-size: 19px;
    transition: 0.6s ease;
}

.btn1:hover{
    color: white;
    background: rgba(0, 0, 255, 0.849);
}
.section3{
    height: 75vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 140px;
}
.section5{
    background: rgba(192, 226, 238, 0.548);
    padding: 60px;
    height: 33vh;
    display: flex;
    justify-content: space-between;
}
.text5 h4.hello{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 19px;
}
.section5 h4{
    color: black;
    font-size: 21px;
}
p.hel{
    width: 400px;
}
.text5 p{
    color: black;
}
.section5 ul li{
    list-style: none;
    padding: 10px 0px 3px 0px;
}
.section5 li a{
    text-decoration: none;
    color: black;
}
.text5 h4{
    margin-bottom: 19px;
}
a.map{
    color: #6d9bcf;
    font-weight: 600;
    text-decoration: none;
}
.sect5 .pmap{
    margin-top: 15px;
    margin-bottom: 19px;
}
.logoo{
    display: flex;
    flex-direction: column;
    margin-bottom: 14px;
}
.logoo ul{
    display: flex;
    gap: 10px;
}
.logoo ul li a img{
    width: 30px;
}
.sect5 .image6{
    width: 168px;
    margin-bottom: 20px;
}
.container{
    display: flex;
    height: 30px;
    align-items: center;
    justify-content: center;
}
.foot2{
    background-color: #292428;
    color: white;
}

@media(max-width:1024px){

    nav{
        padding: 20px;
    }
    .section1{
        display: flex;
        flex-direction: column;
        padding-left: 30px;
        padding-top: 10vw;
        gap: 10px;
    }
    .hero h1{
        padding-top: 25vw;
    }
    .pic img{
        width: 70%;
    }
    .pic{
        padding-bottom: -40px;
    }
    body{
        overflow-x: hidden;
    }
    .organic {
        padding-top: -70vw;
    }

}
@media(max-width:767px){
  .list{
        display: none;
    } 
    .pix{
        display: grid;
        grid-template-columns: 1fr;
        gap: 19px;
    }
    .pic img{
        width: 10;
    }
    .section1-2{
        margin-bottom: 49px;
    }
    .section5{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}